<div class="loxo-sign-parent">
    <div class="loxo-sign-child bdr-rd">
        <div class="align-center">
            <h2>
                <LoxhatLogo />
            </h2>
        </div>
        <div class="align-center">
            <div>
                <b>
                    {{if @isNewUser "Sign up" "Sign in"}}
                </b>
            </div>
        </div>
        <div>
            <form>
                {{#if isNewUser}}
                <Commons::LoxoInputBox @type="text" @placeholder="Full name" />
                <Commons::LoxoInputBox @type="number" @placeholder="Mobile number" />
                <Commons::LoxoInputBox @type="password" @placeholder="Password" />
                {{else}}
                <Commons::LoxoInputBox @type="number" @placeholder="Mobile number" />
                <Commons::LoxoInputBox @type="password" @placeholder="Password" />
                {{/if}}
                <div class="align-center mrg-top">
                    <button type="submit" class="bdr-rd">submit</button>
                </div>
            </form>
        </div>
        <div>
            <div class="align-center mrg-top">
                {{#if isNewUser}}
                For LoXhat family
                    <LinkTo @route="user-sign-in" class="text-decoration">Sign in</LinkTo>
                {{else}}
                Join LoXhat family
                <LinkTo @route="user-sign-up" class="text-decoration">Sign up</LinkTo>
                {{/if}}
            </div>
        </div>
    </div>
</div>